:root {
  --maroon: #7b1e24;
  --black: #0f0f0f;
}

body {
  margin: 0;
  background: var(--black);
  color: #eaeaea;
  font-family: var(--font-inter);
}

h1, h2 {
  font-family: var(--font-playfair);
}

button {
  font-family: var(--font-inter);
}
